@model Demo.Models.Demo.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<form asp-controller="Demo" asp-action="Index" method="post" class="form-horizontal">
    <hr />
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-level">Email address</label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" placeholder="Enter email">
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-level">Password</label>
        <div class="col-md-10">
            <input asp-for="Password" type="password" class="form-control" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-level">Password</label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
